header {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    margin: 0px auto;
}

.navbar {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar_list {
    /* border: 2px solid violet; */
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    width: 30%;
    justify-content: space-evenly;
}

.navbar_list a {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.navbar_list a:hover,
.navbar_list a:active {
    color: var(--primary-color);
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11172B;
    border: 2px solid var(--primary-color);
    padding: 0.4rem 0.6rem;
    border-radius: 8px;
}

.navbar_btn a {
    /* border: 2px solid red; */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color: white;
}
